body {
  background-color: #36393f;
  padding: 20px;
  font-family: sans-serif;
  min-height: 100vh;
  margin: 0;
  font-size: 16px;
}

h3 {
  color: white;
  font-size: 2em;
  font-family: sans-serif;
}
h1 {
  font-size: 1.5em;
  text-decoration: underline;
  color: white;
}

button {
  border-radius: 5px;
  height: 30px;
  width: 225px;
  font-size: 0.85em;
  font-family: sans-serif;
}

input {
  outline: 0;
  border-width: 0 0 1.5px;
  border-color: #1e90ff;
  border-radius: 5px;
  height: 25px;
  width: 220px;
  font-size: 1.2em;
  color: gray;
}

article.card {
  color: wheat;
  min-height: 450px;
}

.bad {
  width: 300px;
  background-color: rgb(48, 192, 91);
  color: #fff;
}

.good {
  width: 300px;
  background-color: rgb(199, 21, 45);
  color: #fff;
}

.card {
  vertical-align: top;
  padding: 10px;
  margin: 15px 10px;
  border-radius: 5px;
  border: 0.5px solid #d3d3d3;
  display: inline-block;
  background-color: #2f3136;
  width: 305px;
  -webkit-box-shadow: 0 8px 6px -6px lightgrey;
  -moz-box-shadow: 0 8px 6px -6px grey;
  box-shadow: 0 8px 8px -6px lightgrey;
}

.stations {
  margin-left: 10px;
}

input {
  outline: 0;
  border-width: 0 0 1.5px 0;
  border-color: dodgerblue;
}

input:focus {
  border-color: rgb(43, 7, 248);
}

h5 {
  padding-left: 5px;
}

section {
  margin-left: -10px;
}

.bad,
.good {
  width: 300px;
  color: #fff;
  border-radius: 4px;
  height: 20px;
  padding-top: 4px;
}

section.stations {
  color: wheat;
}
