body {
    background-color: #36393F;
    padding: 20px;
    font-family: sans-serif;
    min-height: 100vh;
    margin: 0;
    font-size: 16px;
}

h3 {
    color: white;
    font-size: 2em;
    font-family: sans-serif;
}
h1 {
    font-size: 1.5em;
    text-decoration: underline;
    color: white;
}

button {
    border-radius: 5px;
    height: 30px;
    width: 225px;
    font-size: .85em;
    font-family: sans-serif;
}

input {
    outline: 0;
    border-width: 0 0 1.5px;
    border-color: #1e90ff;
    border-radius: 5px;
    height: 25px;
    width: 220px;
    font-size: 1.2em;
    color: gray;
}

article.card {
    color: wheat;
    min-height: 450px;
}

.card {
    vertical-align: top;
    padding: 10px;
    margin: 15px 10px;
    border-radius: 5px;
    border: .5px solid #d3d3d3;
    display: inline-block;
    background-color: #2F3136;
    width: 305px;
    -webkit-box-shadow: 0 8px 6px -6px lightgrey;
    -moz-box-shadow: 0 8px 6px -6px grey;
    box-shadow: 0 8px 8px -6px lightgrey;
}

.bad, .good {
    width: 300px;
    color: #fff;
    border-radius: 4px;
    height: 20px;
    padding-top: 4px;
}

section.stations {
    color: wheat;
}
