body {
  padding: 20px;
  font-family: sans-serif;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
  font-size: 16px;
}

.add {
  width: 300px;
  background-color: rgb(48, 192, 91);
  color: #fff;
}

.sub {
  width: 300px;
  background-color: mediumvioletred;
  color: #fff;
}
